.input {
  position: relative;
  caret-color: var(--green);

  .label {
    font-family: var(--akkuratLl);
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;

    height: 21px;
    color: var(--input-blue);
    position: absolute;
    inset: 15.5px 16px;
    transition: all 0.15s ease-in-out;

    @media (min-width: 64rem) {
      height: 18px;
      inset: 16px 24px;
    }
  }

  .field {
    width: 100%;
    padding: 15.5px 16px;
    background-color: var(--background);
    border-radius: 8px;

    font-family: var(--akkuratLl);
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;

    line-height: 21px;
    color: var(--text-paragraph);
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;

    &:focus-visible {
      outline: none;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      appearance: none;
      border: 1px solid var(--background);
      -webkit-box-shadow: 0 0 0 1000px var(--background) inset;
      -webkit-text-fill-color: var(--text-paragraph);
      transition: background-color 5000s ease-in-out 0s;
    }

    @media (min-width: 64rem) {
      padding: 16px 24px;
      line-height: 150%;
      height: 50px;
    }
  }

  &.active {
    .label {
      color: var(--input-blue);
      top: 7px;
      bottom: initial;
      height: 18px;

      @media (min-width: 64rem) {
        top: 16px;
      }
    }

    .field {
      padding-top: 23px;
      padding-bottom: 8px;

      @media (min-width: 64rem) {
        height: 85px;
        padding-top: 42px;
        padding-bottom: 16px;
      }
    }
  }
}
